* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 2540px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype") url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: local("Droid Serif"), local("DroidSerif"), url("../fonts/droidserif.woff2") format("woff2"), url("droidserif.woff") format("woff"), url("droidserif.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("../fonts/droidserifitalic.woff2") format("woff2"), url("droidserifitalic.woff") format("woff"), url("droidserifitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Droid Serif';
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url("../fonts/droidserifbold.woff2") format("woff2"), url("droidserifbold.woff") format("woff"), url("droidserifbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: local("Droid Serif Bold Italic"), local("DroidSerif-BoldItalic"), url("../fonts/droidserifbolditalic.woff2") format("woff2"), url("droidserifbolditalic.woff") format("woff"), url("droidserifbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Raleway Light', sans-serif;
}

header {
  font-family: 'Myriad Pro Regular', sans-serif;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c3d42;
  font-size: 30px;
  line-height: 1.2;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.navbar__wrap a:hover {
  color: #5dca88;
}

.nav__wrapper, .nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_text {
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  font-weight: 700;
}

.logo_text:hover {
  cursor: pointer;
}

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav__menu ul li {
  margin-right: 30px;
}

.nav__menu ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #3c3d42;
}

.navbar__phone,
.navbar__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__phone:hover,
.navbar__mail:hover {
  cursor: pointer;
}

.navbar__phone_link {
  font-size: 18px;
  color: #3c3d42;
  font-family: 'Raleway Regular', sans-serif;
  text-decoration: none;
  margin-right: 45px;
}

.navbar__mail_link {
  font-size: 18px;
  color: #3c3d42;
  font-family: 'Raleway Regular', sans-serif;
  text-decoration: none;
}

.phone__icon, .mail__icon {
  margin-right: 10px;
}

.phone__icon i, .mail__icon i {
  font-size: 18px;
}

.first_screen {
  background: url("../img/hero_bg.jpg") no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;
}

.hand_wrapper {
  position: absolute;
  bottom: -3px;
  right: 0;
}

.screen_bg {
  position: absolute;
  right: 59px;
  top: 191px;
}

.screen_shadow {
  position: absolute;
  right: 143px;
  top: 191px;
}

.hero_describe {
  padding-top: 180px;
  color: #fff;
  max-width: 440px;
}

.hero__title {
  font-family: 'Raleway Bold', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 18px;
}

.hero_subtitle {
  font-family: 'Raleway Light', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.hero_title_text {
  font-size: 14px;
  font-family: 'Raleway Regular', sans-serif;
  color: #9dc7d1;
  line-height: 1.714;
  margin-bottom: 56px;
}

.btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: rgba(13, 72, 98, 0);
  border-radius: 30px;
  padding: 20px 55px;
  opacity: 0.5;
  font-size: 21px;
  font-family: 'Raleway Regular', sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn:hover {
  background: #fff;
  color: #27626c;
  cursor: pointer;
}

.feature {
  padding-top: 100px;
  padding-bottom: 130px;
}

.feature_title_wrapper {
  margin: auto;
  max-width: 770px;
  text-align: center;
  padding-bottom: 130px;
}

.feature_title {
  font-size: 24px;
  font-family: 'Raleway Bold', sans-serif;
  color: #afb8b8;
  line-height: 1.2;
  margin-bottom: 30px;
}

.feature_title_describe {
  font-size: 16px;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: #afb8b8;
  line-height: 1.5;
  width: 770px;
}

.tabs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs_box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 145px;
}

.tabs_box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.tabs_box ul li:last-child {
  margin-bottom: 0;
}

.tabs_box ul li a {
  min-width: 360px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  text-decoration: none;
  color: #afb8b8;
}

.tabs_box ul li a:hover {
  cursor: pointer;
}

.tab_icon {
  min-width: 50px;
  margin-right: 45px;
  text-align: center;
}

.icon_custom {
  font-size: 50px;
  color: #afb8b8;
}

.icon_active {
  color: #5dca88;
}

.icon_big {
  font-size: 170px;
}

.tab_big_icon {
  text-align: center;
  margin-bottom: 80px;
}

.tab_wrapper .tab_title {
  font-size: 24px;
  font-family: 'Raleway Bold', sans-serif;
  color: #636c6c;
  line-height: 1.2;
  margin-bottom: 35px;
}

.tab_text {
  font-size: 16px;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: #afb8b8;
  line-height: 1.5;
}

#tab1,
#tab3,
#tab4,
#tab5 {
  display: none;
}

.active_li {
  border-right: 10px solid #5dca88;
}

.product_feature {
  padding: 85px 0;
  background-color: #f2f9fe;
}

.product_feature_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_descr {
  width: 50%;
  padding-top: 160px;
}

.product_feature_title {
  position: relative;
  font-size: 36px;
  font-family: 'Raleway Bold', sans-serif;
  color: #5dca88;
  line-height: 1.2;
  margin-bottom: 60px;
}

.product_feature_title:after {
  content: "";
  position: absolute;
  background-color: #949c9c;
  width: 104px;
  height: 4px;
  bottom: -20px;
  left: 0;
}

.product_feature_subtitle {
  font-size: 36px;
  font-family: 'Raleway Regular', sans-serif;
  color: #afb8b8;
  line-height: 1.2;
  padding-bottom: 40px;
}

.product_feature_text {
  font-size: 16px;
  font-family: 'Raleway Regular', sans-serif;
  color: #afb8b8;
  line-height: 1.5;
  padding-bottom: 90px;
}

.product_feature_button {
  border-style: solid;
  border-width: 3px;
  border-color: #636c6c;
  background-color: rgba(13, 72, 98, 0);
  font-size: 21px;
  font-family: 'Raleway Bold', sans-serif;
  line-height: 1.2;
  color: #636c6c;
  opacity: 0.5;
  padding: 25px 55px;
  border-radius: 35px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product_feature_button:hover {
  background-color: #27626c;
  color: #fff;
}

.feature_img {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone_screen_image {
  position: absolute;
  top: 115px;
  left: 180px;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 130px;
}

.gallery .owl-theme .owl-nav {
  position: relative;
}

.gallery .owl-theme .owl-nav button {
  outline: none;
}

.gallery .owl-theme .owl-nav button:hover {
  background: inherit;
}

.gallery .owl-theme .owl-nav .owl-prev {
  color: #9fa9a9;
  font-size: 90px;
  font-weight: bold;
  left: -120px;
  top: -550px;
  position: absolute;
}

.gallery .owl-theme .owl-nav .owl-prev:hover {
  color: #5dca88;
}

.gallery .owl-theme .owl-nav .owl-next {
  color: #9fa9a9;
  font-size: 90px;
  font-weight: bold;
  right: -120px;
  top: -550px;
  position: absolute;
}

.gallery .owl-theme .owl-nav .owl-next:hover {
  color: #5dca88;
}

.gallery_item {
  position: relative;
}

.item_text {
  text-align: center;
  padding: 50px 55px;
}

.gallery_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery_phone_image {
  height: 620px;
  width: 300px;
  background: url("../img/gallery_mobile1.png") no-repeat;
}

.gallery_phone_screen_image {
  background: url("../img/gallery_mobile_phone_screen1.png") no-repeat;
  height: 445px;
  position: absolute;
  top: 92px;
  left: 69px;
  width: 255px;
}

.product_geature {
  background-color: #f2f9fe;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: -2;
}

.product_geature_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.geature_img {
  width: 50%;
  padding-right: 265px;
}

.geature_descr {
  width: 50%;
}

.one {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.two {
  position: absolute;
  top: -17px;
  left: 133px;
  z-index: 0;
}

.geature_phone_screen_image {
  position: absolute;
  display: block;
  z-index: 3;
  top: 97px;
  left: 29px;
}

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 45px;
}

.author_foto {
  background: url("../img/testimonials_foto.png");
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.testimonials_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testim_text {
  font-size: 24px;
  font-family: 'Droid Serif';
  color: #8c9494;
  font-style: italic;
  margin-bottom: 30px;
}

.author_name {
  font-size: 24px;
  font-family: 'Raleway Regular', sans-serif;
  color: #5dca88;
  position: relative;
  margin-bottom: 45px;
}

.author_name:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 10px;
  height: 2px;
  background-color: #5dca88;
}

.slide_three .owl-dots .owl-dot.active span {
  background: #5dca88;
  outline: none;
}

.slide_three .owl-dots .owl-dot:hover span {
  background: #5dca88;
}

button.owl-dot {
  outline: none;
}

.subscribe {
  padding-top: 90px;
  padding-bottom: 120px;
  background: #f3f5f5;
}

.subscribe_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.subscribe_title_custom {
  margin-bottom: 0;
}

.subscribe_title_icon {
  font-size: 36px;
  color: #afb8b8;
  padding-right: 22px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.subscribe_title_icon:hover {
  color: #5dca88;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_input {
  width: 670px;
  height: 60px;
  border: 2px solid #bbc3c2;
  border-radius: 30px;
  position: relative;
  right: -50px;
  padding: 0 35px;
  color: #5dca88;
  outline: none;
}

.subscribe_input:hover {
  cursor: pointer;
}

.subscribe_button {
  position: relative;
  background: #5dca88;
  padding: 20px 50px;
  border-radius: 30px;
  right: 100px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway Bold', sans-serif;
  font-size: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.subscribe_button:hover {
  cursor: pointer;
  background: #27626c;
}

.footer {
  padding-top: 75px;
  padding-bottom: 50px;
  background: #2d312f;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_wrapper ul {
  margin-top: 0;
  padding: 0;
}

.footer_title {
  font-family: 'Raleway Light', sans-serif;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5d6461;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 17px;
}

.social_icon:last-child {
  margin-right: 0;
}

.social_icon i {
  font-size: 20px;
  color: #2d312f;
}

.social_icon i:hover {
  color: #5dca88;
}

.footer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_menu ul li {
  margin-right: 22px;
}

.footer_menu ul li:last-child {
  margin-right: 0;
}

.footer_menu ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #5d6461;
}

.footer_menu ul li a:hover {
  color: #5dca88;
}

@media screen and (max-width: 1170px) {
  .nav__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 850px) {
  .nav__contacts {
    display: none;
  }
  .nav__wrapper {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 700px) {
  .nav__menu ul {
    display: none;
  }
  .menu_bars {
    display: block;
  }
  .nav__menu_responsive {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .menu_bars {
    display: none;
  }
  .nav__menu_responsive {
    display: none;
  }
}

body {
  position: relative;
}

.nav__menu_responsive {
  position: absolute;
  background: black;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}

.nav__menu_responsive i {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 32px;
}

.menu_bars:hover, .resp_menu_close:hover {
  cursor: pointer;
  color: #5dca88;
}

.nav__menu_responsive ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 100px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu_responsive ul li {
  margin-bottom: 50px;
}

.nav__menu_responsive ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */