// Variables
$primary: #5dca88;
$heading_color:rgb(99, 108, 108);
$text_color:  rgb(175, 184, 184);
$quote: rgb(140, 148, 148);
$footer: #2d312f;
  
  
// Fonts
@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype') url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif'), local('DroidSerif'), url('../fonts/droidserif.woff2') format('woff2'), url('droidserif.woff') format('woff'), url('droidserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('../fonts/droidserifitalic.woff2') format('woff2'), url('droidserifitalic.woff') format('woff'), url('droidserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('../fonts/droidserifbold.woff2') format('woff2'), url('droidserifbold.woff') format('woff'), url('droidserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('../fonts/droidserifbolditalic.woff2') format('woff2'), url('droidserifbolditalic.woff') format('woff'), url('droidserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


@mixin ralBold {
    font-family: 'Raleway Bold', sans-serif;
}

@mixin ralLight {
    font-family: 'Raleway Light', sans-serif;
}

@mixin ralReg {
    font-family: 'Raleway Regular', sans-serif;
}

@mixin proxima {
    font-family: 'Proxima Nova Extra Bold', sans-serif;
    font-weight: 700;
}

@mixin myriad {
    font-family: 'Myriad Pro Regular', sans-serif;
}
