.gallery {
    padding-top: 100px;
    padding-bottom: 130px;
    margin: auto;
    .owl-theme .owl-nav{
        position: relative;
        button{
            outline: none;
            &:hover{
                background: inherit;
            }
        }
        .owl-prev {
            color: rgb(159, 169, 169);
            font-size: 80px;
            font-weight: bold;
            left: -20px;
            top: -550px;
            position: absolute;
            &:hover{
                color: $primary;
            }
          }
          .owl-next {
            color: rgb(159, 169, 169);
            font-size: 80px;
            font-weight: bold;
            right: -20px;
            top: -550px;
            position: absolute;
            &:hover{
                color: $primary;
            }
          }
    }
}
.gallery_item {
    position: relative;
}
.item_text {
    text-align: center;
    padding: 50px 55px;
}
.gallery_wrapper {
    display: flex;
    justify-content: space-between;
}
.gallery_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery_phone_image{
    position: relative;
}
.gallery_phone_screen_image {
    position: absolute;
}


  