.gallery {
    padding-top: 100px;
    padding-bottom: 130px;
    .owl-theme .owl-nav{
        position: relative;
        button{
            outline: none;
            &:hover{
                background: inherit;
            }
        }
        .owl-prev {
            color: rgb(159, 169, 169);
            font-size: 90px;
            font-weight: bold;
            left: -120px;
            top: -550px;
            position: absolute;
            &:hover{
                color: $primary;
            }
          }
          .owl-next {
            color: rgb(159, 169, 169);
            font-size: 90px;
            font-weight: bold;
            right: -120px;
            top: -550px;
            position: absolute;
            &:hover{
                color: $primary;
            }
          }
    }
}
.gallery_item {
    position: relative;
}
.item_text {
    text-align: center;
    padding: 50px 55px;
}
.gallery_wrapper {
    display: flex;
    justify-content: space-around;
}
.gallery_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery_phone_image{
    height: 620px;
    width: 300px;
    background: url('./img/gallery_mobile1.png') no-repeat;
}
.gallery_phone_screen_image {
    background: url('./img/gallery_mobile_phone_screen1.png') no-repeat;
    height: 445px;
    position: absolute;
    top: 92px;
    left: 69px;
    width: 255px;
}


  