.product_feature {
    padding: 85px 0;
    background-color: rgb(242, 249, 254);
}
.product_feature_wrapper {
    display: flex;
}
.feature_descr {
    width: 50%;
    padding-top: 160px;
}
.product_feature_title {
    position: relative;
    font-size: 36px;
    @include ralBold;
    color: $primary;
    line-height: 1.2;
    margin-bottom: 60px;
    &:after{
        content: "";
        position: absolute;
        background-color: rgb(148, 156, 156);
        width: 104px;
        height: 4px;
        bottom: -20px;
        left: 0;
    }
}
.product_feature_subtitle {
    font-size: 36px;
    @include ralReg;
    color: $text_color;
    line-height: 1.2;
    padding-bottom: 40px;
}
.product_feature_text {
    font-size: 16px;
    @include ralReg;
    color:$text_color;
    line-height: 1.5;
    padding-bottom: 90px;
}
.product_feature_button {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(99, 108, 108);
    background-color: rgba(13, 72, 98, 0);
    font-size: 21px;
    @include ralBold;
    line-height: 1.2;
    color: rgb(99, 108, 108);
    opacity: 0.5;
    padding: 25px 55px;
    border-radius: 35px;
    transition: all 0.4s;
    &:hover{
        background-color: rgba(13, 72, 98, 1);
        color: #fff;
    }
}
.feature_img{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone_screen_image{
    position: absolute;
    top: 115px;
    left: 180px;  
}
  