//Header responsive styles
@media screen and (max-width: 1170px) {
    .nav__contacts {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 850px) {
    .nav__contacts {
        display: none;
    }

    .nav__wrapper {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 700px) {
    .nav__menu ul {
        display: none;
    }

    .menu_bars {
        display: block;
    }

    .nav__menu_responsive {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .menu_bars {
        display: none;
    }

    .nav__menu_responsive {
        display: none;
    }
}


//Mobile menu styles
body {
    position: relative;
}

.nav__menu_responsive {
    position: absolute;
    background: black;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;

    i {
        position: absolute;
        top: 40px;
        right: 20px;
        font-size: 32px;
    }
}

.menu_bars:hover,
.resp_menu_close:hover {
    cursor: pointer;
    color: $primary;
}

.nav__menu_responsive ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 100px 0;
    justify-content: center;
    align-items: center;

    li {
        margin-bottom: 50px;

        a {
            font-size: 18px;
            text-decoration: none;
            color: #fff;
        }
    }
}

// Main screen responsives
@media screen and (max-width: 1070px) {

    .hand_wrapper,
    .screen_bg,
    .screen_shadow {
        display: none;
    }

    .first_screen .container {
        height: 100%;
    }

    .hero_describe_wrapper {
        height: 100%;
        align-items: center;
    }

    .hero_describe {
        padding-top: 0;
        text-align: center;
    }

}

@media screen and (max-width: 500px) {
    
    .hero__title {
        font-size: 28px;
    }
    
    .hero_subtitle{
        font-size: 28px;
    }
}


@media screen and (max-width: 400px) {
    .hero__title {
    font-size: 24px;
}
.hero_subtitle{
    font-size: 22px;
}
}

// Feature Block responsives
@media screen and (max-width: 1024px) {
    .tabs_box ul li a {
        flex-direction: column;
    }

    .tab_icon {
        margin: 10px;
    }

    .tab_title {
        text-align: center;
    }

    .tabs_box ul li {
        height: auto;
        margin-bottom: 20px;
        margin-right: 10px;
        
        &:last-child {
            margin-right: 0;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 800px) {
    .feature {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .tabs_wrapper {
        flex-direction: column;
    }

    .tabs_box ul {
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 30px;
        height: auto;

    }

    .active_li {
        border-right: none;
        border-bottom: 10px solid $primary;
    }

    .tabs_box ul li {
        height: auto;
        margin-bottom: 20px;
        height: 150px;
        border-top: 5px solid $text_color;
    }

    .tab_title {
        width: auto;
        font-size: 12px;
    }
    .tab_text{
        text-align: center;
    }

    .tab_wrapper .tab_title {
        font-size: 24px;

}
}


@media screen and (max-width: 500px) {
    .tab_title {
        font-size: 10px;
        word-wrap: break-word;
    }

    .tab_icon {
        display: none;
    }

    .tabs_box ul li {
        height: 80px;
    }
}

@media screen and (max-width: 420px) {
    .tab_wrapper .tab_title {
        font-size: 20px;
    }
}

